<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{{#if file.frontMatter.title}}{{file.frontMatter.title}} - {{/if}}StaticSiteTemplate</title>
{{#if file.frontMatter.description}}
	<meta name="Description" content="{{file.frontMatter.description}}" />
{{/if}}
	<meta name="theme-color" content="#4f9adc">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{#if file.frontMatter.image}}
	<meta property="og:image" content="{{site.canonicalUrl}}{{file.frontMatter.image}}" />
{{/if}}
	<link rel="stylesheet" href="/site.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"> 
	<link rel="icon" href="/images/app/logo.svg" />
	<link rel="mask-icon" href="/images/app/logo-mask.svg" color="#4f9adc" />
	<link rel="apple-touch-icon" href="/images/app/logo-solid180.png" />
	<link rel="manifest" href="/app.webmanifest" />
</head>
<body>
{{> body}}
</body>
</html>
