{{#> base }}
{{#*inline "body"}}

<header>
<div><nav>
	<ul>
		<li><a href="/">Home</a></li>
	</ul>
</nav></div>
</header>

<main>
<div class="content">
{{{contents}}}
</div>
</main>

<footer>
<p>
	Template &copy; {{year from=2020}} Travis Spomer.
</p>
</footer>

{{/inline}}
{{/base}}
