{{#> base }}
{{#*inline "body"}}

<main>
<div class="content">
{{{contents}}}
</div>
</main>

<!-- htmlmin:ignore --><!-- Template © Copyright {{year from=2020}} Travis Spomer. --><!-- htmlmin:ignore -->

{{/inline}}
{{/base}}
